.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0E1E71;
  display:flex;
  height: 30px;
}

.navbarItem {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.navbarItem:first-child > span { margin-right: auto; }

.navbarItem:last-child  > span { margin-left: auto;  }
/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
} */
