/* Contains styling for the admin.html page. */
body {
   font-family: 'Avenir';
   font-style: normal;
   font-weight: normal;
   background: #141414;
   color: #FFFFFF;
   letter-spacing: 0.025em;
}

/* 10 + 5 + 25 + 60 + 5*/

.screen_container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/*Header=10*/

.header_container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 10vh;
}

#title {
   font-family: 'Roboto';
   font-weight: bolder;
   color: white;
   align-self: center;
   font-size: 1.7em;
}

.text_container {
   display: flex;
   justify-content: space-around;
   align-items: baseline;
}

.prompts_container {
   margin: 20px 30px;
}

h1 {
   font-size: 20px;
}

ul {
   list-style-type: disc;
}

/*Button*/

.button_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 10vh;
   align-items: center;
}

#btn {
   height: 50px;
   background-color: #494949;
   border-radius: 5px;
   border-color: #494949;
   color: white;
   font-size: 1.0em;
}

.button {
   width: 100px;
   height: 20px;
   background-color: #494949;
   color: white;
   border: 1px;
   border-radius: 5px;
   letter-spacing: 0.2em;
   font-size: 14px;
   text-align: center;
   align-self: center;
}
