body{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  background: #141414;
  color: #FFFFFF;
  letter-spacing: 0.025em;
}

/* 10 + 5 + 25 + 60 + 5*/
.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Header=10*/
.header_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
}

/*Search Container=5*/
.search_container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 5vh;
  background-color: #494949;
}

/*Sub_header_container=5 * 2*/
.prompts_header_container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  height: 5vh;
}
.sub_header_container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
}

/*Prompts= 20*/
.prompts_container{
  display: flex;
  flex-direction: row;
  height: 25vh;
  overflow-x: auto;
  max-width: 100vw;
}
.center_row_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.prompt{
  min-height: 150px;
  min-width: 150px;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/*Showcase=45*/
.showcase_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  max-width: 100vw;
  overflow-y: auto;

}
.showcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}
.all_showcase_container{
  display: flex;
  flex-direction: column;
}
#winner1{
  height: 250px;
  width: 225px;
  background-color: white;
  border-radius: 10px;
}
#winner2{
  height: 125px;
  width: 125px;
  background-color: white;
  border-radius: 10px;
}
#winner3{
  height: 125px;
  width: 125px;
  background-color: white;
  border-radius: 10px;
}


#title{
  font-family: 'Roboto';
  font-weight: bolder;
  color: white;
  align-self: center;
  font-size:1.7em;
}

#search-btn{
  background: inherit;
  border: inherit;
  text-align: center;
}
input{
  color: white;
  outline: none;
  width: 100vw;
}

::-webkit-input-placeholder { /* Webkit */
   color: white;
}

#prompts-header{
  font-size: 22px;
  color: white;
  align-self: bottom;
}
#time-txt{
  font-size: 16px;
  color: white;
  line-height: 3em;
}
#showcase-header{
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}

.txt{
  font-size: 16px;
  color: white;
  line-height: 2em;
  margin-left: 10px;
  align-self: flex-start;
}

.row_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.col_container{
  display: flex;
  flex-direction: column;
}

/*Footer*/
.footer_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  background: #141414;
  align-items: center;
  background-color: #494949;
}

.footer_button{
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
}
