body{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  background: #141414;
  color: #FFFFFF;
}

.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Header*/
.header_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
}

#invisible-spacer{
  align-self: center;
  visibility: hidden;
  width: 70px;
}

#title_container{
  font-family: 'Roboto';
  font-weight: bolder;
  color: white;
  align-self: center;
  font-size:1.7em;
  letter-spacing: 0.1em;
}

#settings_container{
  align-self: center;
  width: 70px;
}

#settings-btn{
  background-color: inherit;
  color: white;
  font-size: 16px;
  border: none;
}

/*Search Container*/
.search_container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
  width: auto;
  text-align: center;
  color: #FFFFFF;
  background-color: #494949;
}

#search-btn{
  background: inherit;
  border: inherit;
  text-align: center;
}
input{
  color: white;
  outline: none;
  width: 100vw;
}

::-webkit-input-placeholder { /* Webkit */
   color: white;
}


/*Main*/
.main_container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 80vh; */
  background-color: inherit;
}

#sub-header{
  font-size: 20px;
  letter-spacing: 0.15em;
  color: white;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 1vh;
}

#prompt_text{
  font-size: 15px;
  letter-spacing: 0.1em;
  color: white;
  align-self: flex-start;
  justify-content: flex-start;
}

.first_half{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 22vh;
  margin-top: 1vh;
}

.second_half{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 54vh;
  margin-top: 3vh;
}

/*prompts*/
.ongoing_prompts{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

/*Finished prompts*/
.finished_prompts{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/*Projects*/
.project_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(74, 74, 74, 0.5);
  margin-top: 1vh;
}

.project_description{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 5vw;
  margin-top: 2vh;
  align-items: stretch;
  justify-content: space-around;
}

.image_container{
  display: flex;
  flex-direction: row;
  width: 45vw;
  height: 13vh;
  justify-content: space-around;
  margin: 1vw;
}

.finished_image_container{
  display: grid;
  margin-top: 1vh;
  margin-bottom: 3vh;
  width: 90vw;
  height: 15vh;
  grid-template-columns: [col1] 33% [col2] 33% [col3] 33% [end];
  grid-template-rows: [row1] 50% [row2] 50% [end];
}

.photo{
  border:1px solid #141414;
  width: 45vw;
  /* border-radius: 10px; */
  background-color: white;
  margin-bottom: 1vh;
}

#photo-big{
  border:1px solid #141414;
  /* border-radius: 10px; */
  background-color: white;
  grid-area: row1 / col1 / end / col3;
}

#photo-small1{
  border:1px solid #141414;
  /* border-radius: 10px; */
  background-color: white;
  grid-area: row1 / col3 / row2 / end;
}

#photo-small2{
  border:1px solid #141414;
  /* border-radius: 10px; */
  background-color: white;
  grid-area: row2 / col3 / end / end;
}


.winner{
  margin-left: 5vw;
}

/*Footer*/
.footer_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  background: #141414;
  align-items: center;
  background-color: #494949;
}

.footer_button{
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
}
