body{
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  background: #141414;
}

/*45+15+50*/
.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Text section*/
.text_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  align-items: center;
}

#oneliner{
  color: #808080;
  align-self: center;

}

#title{
  font-size: 3.0em;
  color: #FFFFFF;
  align-self: center;
  letter-spacing: 0.2em;
}

/*App Information*/
.information_container{
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: flex-end;
}

.row_container{
  display: flex;
  flex-direction: row;
}

.photography-box{
  background-color: #494949;
  width: 50vw;
  height:5vh;
  text-align: right;
}

#photography-text{
  color: white;
  position: relative;
  top:30%;
  right:10%;
  font-size: 12px;
  letter-spacing: 0.2em;
}

.brand-box{
  background-color: #FFFFFF;
  width: 50vw;
  height:5vh;
  text-align: left;
}

.blur-box{
  height: inherit;
  width: inherit;
  position: absolute;
  filter: blur(4px);
  background-color: inherit;
}

#brand-text{
  color: black;
  position: relative;
  top:10%;
  left:10%;
  font-size: 12px;
  letter-spacing: 0.2em;
}




/*Button section*/
.button_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  align-items:center;
}

.form_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
}

.button{
  width: 200px;
  height: 30px;
  background-color: #494949;
  color: white;
  border: 1px;
  border-radius: 5px;
  margin-bottom: 5%;
  letter-spacing: 0.2em;
}

#input-button{
  width: 200px;
  height: 30px;
  margin: 2px 10px 2px 10px;
  border-bottom-color: white;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: white;
  background-color:#141414;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

#bottomline{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.8em;
}