body{
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  background: #141414;
}

/*45+15+50*/
.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/*Text section*/
.text_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  height: 10vh;
  background-color: #141414;
  padding-left: 30px;
  padding-right: 30px;
}

#back-btn{
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none;
  background-color: #141414;
  color: white;
  float: left;
  align-self: left;
  align-items:left;
}

#header-title{
  font-weight: bolder;
  color: #FFFFFF;
  align-self: center;
}

#title{
  font-size: 3.0em;
  color: #FFFFFF;
  align-self: center;
  letter-spacing: 0.2em;
}

/*App Information*/
.information_container{
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: flex-end;
}

.row_container{
  display: flex;
  flex-direction: row;
}

.photography-box{
  background-color: #494949;
  width: 50vw;
  height:6vh;
  text-align: right;
}

#photography-text{
  color: white;
  position: relative;
  top:30%;
  right:10%;
  font-size: 12px;

  letter-spacing: 0.2em;
}
#title{
  font-size: 3.0em;
  color: #FFFFFF;
  letter-spacing: 0.2em;
}

.brand-box{
  background-color: #FFFFFF;
  width: 50vw;
  height:6vh;
  text-align: left;
}

#subheader{
  color: #FFFFFF;
  margin-bottom: 20%;
  align-self: center;
}

#brand-text{
  color: black;
  position: relative;
  top:10%;
  left:10%;
  font-size: 12px;
  letter-spacing: 0.2em;
}


/*Button section*/
.button_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  align-items:center;
}

.form_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
}

.button{
  width: 200px;
  height: 30px;
  background-color: #494949;
  color: white;
  border: 1px;
  border-radius: 5px;
  margin-bottom: 5%;
  letter-spacing: 0.2em;
}

#input-button{
  width: 200px;
  height: 30px;
  margin: 2px 10px 2px 10px;
  border-bottom-color: white;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: white;
  background-color:#141414;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.centered-details{
  max-width: 250px;
  color: #808080;
  align-self: center;
  text-align: center;
}

/*Inputs*/
textarea {
  resize: none;
  overflow: auto;
  background-color:#C4C4C4;
}
#bottomline{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.8em;
}

/*Footer*/
.footer_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  background: #141414;
  align-items: center;
  background-color: #494949;
}

.footer_button{
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
}
