body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #BEDDCE;
}

.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Text section*/
.text_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
}
#title{ 
  font-size: 3.0em;
  color: #0E1E71;
  align-self: center;
}
#oneliner{ 
  color: #4F5B6B;
  margin-bottom: 10%;
}

/*Button section*/
.button_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50vh;
}

#signin-btn{
  width: 200px;
  height: 30px;
  background-color: #0E1E71;
  color: white;
  border: 1px;
  border-radius: 10px;
  margin-bottom: 5%;
}
#createacc-btn{
  width: 200px;
  height: 30px;
  background-color: #0E1E71;
  color: white;
  border: 1px;
  border-radius: 10px;
}

