body{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  background: #141414;
  color: #FFFFFF;
}

/*10+40+45+5*/
.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Header*/
.header_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
}

#invisible-spacer{
  align-self: center;
  visibility: hidden;
  width: 70px;
}

#header-title{
  font-weight: normal;
  color: white;
  align-self: center;
  font-size:1.7em;
  letter-spacing: 0.1em;
}

#edit_container{
  align-self: center;
  width: 70px;
}

#edit-btn{
  background-color: inherit;
  color: white;
  font-size: 16px;
  border: none;
}

/*Main*/
.main_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
}

.info_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
} 

#sub-header{
  font-size: 18px;
}

#info-text{
  width: 70vw;
  text-align: center;
  font-size: 14px;
  border-bottom: 2px solid white;
}

#logout-btn{
  background-color: #494949;
  width: 30vw;
  height: 3vh;
  border-radius: 5px;
  color: white;
  border-color: #494949;
}

/*Work*/
.work_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 45vh;
  overflow: scroll;
}

.image_container{
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 120px;
  background-color: white;
  border:1;
  border-radius: 10px;

}

#submission{
  margin-bottom: 10%;  
}

/*Footer*/
.footer_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  background: #141414;
  align-items: center;
  background-color: #494949;
}

.footer_button{
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
}
