.project_container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.project_description{
  margin-top: 20px;
  border-radius: 15px;
  color: #2C138F;
  font-size: 14px;
  opacity: 0.6;
}

.project_card{
  margin-top: 10px;
  border-radius: 20px;
  background: #FFFFFF;
  padding: 20px;
  align-self: center;
  width: 90%;
  height: 90%;
  overflow: scroll;
  text-decoration: none;
}

.user_info{
  margin: 40px 20px 20px 20px;
}

#username {
  color: #2C138F;
  font-size: 20px;
}

#status {
  color: #2C138F;
  font-size: 12px;
  opacity: 0.6;
}

#prompt {
  color: #2C138F;
  font-size: 16px;
  padding-top: 10px;
}

#photos {
  margin-top: 5px;
  flex-direction: row;
  justify-content: space-evenly;
}

.project_card img {
  height: 70px;
  width: 90px;
  align-items:stretch;
}
