.time{
  color: #808080;
  align-self: center;
}
.image-container{
  display: inline-block;
  background-color: #494949;
}
.image-container img{
  max-width: 200px;
  max-height: 100px;
  border-radius: 12px;
  padding: 3px;
  cursor: pointer;
}
.image-container img:hover{
  filter:blur(2px);
}
.image-container text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */

  text-align: center;
  color: #FFFFFF;
}
.image-container p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* or 167% */
  color:#FFFFFF;
  max-width:190px;
}

.image-container .btn {
  position:relative;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.info-container{
  display:flex;
  justify-content: space-between;
  align-self: center;
  width: 200px;
}

.info-container text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color:#FFFFFF;
  font-size: 18px;
}
